<app-header-back></app-header-back>
<app-navbar-back></app-navbar-back>

<main id="main" class="main">
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="search"
        placeholder="Search" aria-label="Search"
        aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary"
            type="button">Search</button>
    </div>
  </div>
  <button class="btn btn-warning" (click)="tri()">Tri</button>

  <div class="date-slider">
    <div class="date-slide" *ngFor="let date of dates">
      {{ date | date: 'dd/MM/yyyy' }}
    </div>
  </div>

  <table class="table" border="1">
    <tr>
      <th>Date</th>
      <th>Departure Time</th>
      <th>Arrival Time</th>
      <th>Amount</th>
      
    </tr>

    <tr *ngFor="let ts of listTripStop">
      <td *ngIf="ts.amount == search || search == 0">{{ ts.departureTime | date: 'dd/MM/yyyy' }}</td>
      <td *ngIf="ts.amount == search || search == 0">{{ ts.departureTime | date: 'HH:mm:ss' }}</td>
      <td *ngIf="ts.amount == search || search == 0">{{ ts.arrivalTime | date: 'HH:mm:ss' }}</td>
      <td *ngIf="ts.amount == search || search == 0">{{ ts.amount }}</td>

      <td *ngIf="ts.amount == search || search == 0"><button class="btn btn-warning" (click)="supp(ts.id)">delete</button></td>
      <td *ngIf="ts.amount == search || search == 0"><button class="btn btn-danger" [routerLink]="['/update-tripStop', ts.id]">Update</button></td>
    </tr>
  </table>
</main>

<app-footer-back></app-footer-back>
