<app-header-back></app-header-back>
<app-navbar-back></app-navbar-back>

<main id="main" class="main">
  <form [formGroup]="stopForm" (ngSubmit)="updateStop()">

    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" formControlName="name" id="inputName" placeholder="Name">
      <div class="alert alert-danger" *ngIf="stopForm.controls['name'].invalid && stopForm.controls['name'].touched">
        <p *ngIf="stopForm.controls['name'].hasError('required')">Name is required</p>
      </div>
    </div>

    <div class="form-group">
      <label for="inputgpscoordinates">GPS Coordinates</label>
      <input type="text" class="form-control" formControlName="gpscoordinates" id="inputgpscoordinates" placeholder="GPS Coordinates">
      <div class="alert alert-danger" *ngIf="stopForm.controls['gpscoordinates'].invalid && stopForm.controls['gpscoordinates'].touched">
        <p *ngIf="stopForm.controls['gpscoordinates'].hasError('required')">GPS Coordinates is required</p>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main>

<app-footer-back></app-footer-back>
