<app-header-front></app-header-front>

<main id="main" class="main">
  <div *ngIf="room" class="card mt-10">
    <div class="card-body">
      <h3 class="card-title">Room Details</h3>
      <p class="card-text">Room Type: {{ room.roomType }}</p>
      <p class="card-text">Rent: {{ room.rent }}</p>
      <p class="card-text">Amenities: {{ room.amenities }}</p>
      <p class="card-text">Room Details: {{ room.roomDetails }}</p>

      <h3 class="card-title">Room Images</h3>
      <div *ngIf="roomImages.length > 0">
        <div *ngFor="let image of roomImages">
          <img [src]="image" alt="Room Image" class="room-image">
        </div>
      </div>
      <div *ngIf="roomImages.length === 0">
        <p>No images available for this room.</p>
      </div>
    </div>
  </div>
</main>
<app-footer-front></app-footer-front>
