<!--<form (ngSubmit)="fileInput?.files && uploadFile(fileInput.files[0])" *ngIf="fileInput">
  <input type="file" #fileInput>
  <input type="submit" value="Upload">
</form>

<div *ngIf="imageURL">
  <img [src]="imageURL" alt="Uploaded image">
  <br>
  <input type="text" [value]="imageURL" readonly>
</div>
<div>
  <form (submit)="uploadFile($event)">
    <input type="file" name="image" (change)="uploadFile($event)">
    <input type="submit" value="Submit">
  </form>

  <div *ngIf="imageURL">
    <img [src]="imageURL" alt="test image" height="200" width="300">
    <input type="text" [value]="imageURL" readonly>
  </div>
  <input type="text" [(ngModel)]="imageURLe" placeholder="URL de l'image">

</div>-->
<!--<input type="file" (change)="handleFileInput($event)">
<button (click)="uploadFile()">Upload</button>
<input type="text" [value]="imageURL" readonly>-->



