.sold-card,.add-sold-card {
  border: 2px solid #146551;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  width: 500px; /* Ajustez la largeur selon vos besoins */
  height: 200px;
}

.sold-card {
  background-color: #007566;
}

.add-sold-card {
  background-color: #FFCB9A;
}

.btn{
  margin-top: 40px;
  margin-left: 40%;
}
h1{
  color: white;
  text-align: center;
  margin-top: 10%;
}
.hedil{
  display: flex;
  justify-content: space-evenly;
}

.x
{
  padding-top: 5%;
  height: 200px;
  background-color: #8FC1B5;
}
