/* Style for the container */
.main {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Style for the form container */
.ex-form-1 {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 1800px;
}

/* Style for the text-box */
.text-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

/* Style for the form elements */
.form-control {
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-select {
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Style for the button */
.form-control-submit-button {
 width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form-control-submit-button:hover {
  background-color: #0056b3;
}

/* Style for the recaptcha */
.recaptcha-form {
  margin-bottom: 20px;
}

/* Style for the Add Image button */
#imageInput {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

#imageInput:hover {
  background-color: #0056b3;
}
