.login-section {
    background: url('/assets/backOffice/img/coco_pic.jpg') no-repeat center center fixed; 
    background-size: cover; 
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
  }
  
  .card-body {
    padding: 2rem; 
  }
  
  .btn-primary {
    background-color: #0056b3; 
    border: none; 
  }
  
  .btn-primary:hover {
    background-color: #004494; 
  }
  