<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/frontOffice/img/polo.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Proposed Rides</h5>
    <p class="card-text">This Ride is yours</p>
    <h5>Start Location : Fouchena</h5>
    <h5>Departure Date : 13/10/2024 08:00</h5>
    <h5>Arrival Date : 13/10/2024 09:00</h5>
    <h5>Price : 14Dt</h5>
    <a href="#" class="btn btn-primary">Update Ride</a>
    <a href="#" class="btn btn-primary">Delete Ride</a>
  </div>
</div>
