
<app-header-front></app-header-front>

<main id="main" class="main">
<div class="ex-form-1 pt-5 pb-5">
  <div>
    <div class="row">
      <div class="col-xl-6 offset-xl-3">
        <div class="text-box mt-5 mb-5">
          <form #f="ngForm" (ngSubmit)="update(f); formSubmitted = true;">
            
            <div class="mb-4 form-floating">
              <input type="text" class="form-control" id="accommodationName" name="accommodationName" [(ngModel)]="accomodation.accommodationName" required>
              <label for="accommodationName">Name</label>
            </div>
            <div class="mb-4 form-floating">
              <input type="number" class="form-control" id="rentPrice" name="rentPrice" [(ngModel)]="accomodation.rent_price" required>
              <label for="rentPrice">Rent Price</label>
            </div>
            <div class="mb-4 form-floating">
              <input type="number" class="form-control" id="numberOfRoom" name="numberOfRoom" [(ngModel)]="accomodation.numberOfRoom" required>
              <label for="numberOfRoom">Number of Rooms</label>
            </div>
            <div class="mb-4 form-floating">
              <input type="text" class="form-control" id="rules" name="rules" [(ngModel)]="accomodation.rules" required>
              <label for="rules">Rules</label>
            </div>
            <div class="mb-4 form-floating">
              <input type="text" class="form-control" id="localisation" name="localisation" [(ngModel)]="accomodation.localisation" required>
              <label for="localisation">Localisation</label>
            </div>
            <button type="submit" class="form-control-submit-button">update Accommodation</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
<app-footer-front></app-footer-front>
