
  <app-header-back class="fixed-top"></app-header-back>
<app-navbar-back></app-navbar-back>
  <div class="pt-5 d-flex justify-content-center">
  <div class="pt-5">
<div class="d-flex justify-content-center">
<nav class="nav bg-dark ">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/category-list']">Category List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/register-category-product']"> Add Category </a>
  </li>

</nav>
</div>
  </div>
  </div>
<app-footer-back></app-footer-back>
