<app-header-front></app-header-front>

<main id="main" class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card-deck mt-5">
          <div class="card" *ngFor="let s of listSub">
            <div class="card-body">
              <h5 class="card-title">Subscription Details</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Remaining Trips:</strong> {{ s.remainingTrips }}</li>
                <li class="list-group-item"><strong>Trip Stops:</strong> {{ s.tripStops }}</li>
                <li class="list-group-item"><strong>Payment Method:</strong> {{ s.subscriptionPaymentMethod }}</li>
                <li class="list-group-item"><strong>Status:</strong> {{ s.status }}</li>
                <li class="list-group-item"><strong>Price:</strong> {{ s.subscriptionPrice }}</li>
              </ul>
              <div class="btn-group mt-3" role="group">
                <button type="button" class="btn btn-danger" (click)="removeSubscription(s.id)">Cancel Subscription</button>
                <button type="button" class="btn btn-primary" (click)="paySubscription(s)">Pay Subscription</button>
                <button type="button" class="btn btn-success" (click)="generateQrCode(s)">Generate QR Code</button>
              </div>
              <div class="mt-3 text-center">
                <img *ngIf="s.qrCodeImageUrl" [src]="s.qrCodeImageUrl" alt="QR Code" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer-front></app-footer-front>
